@model Movie
@{
	ViewData["Title"] = "Добавление фильма";
	Layout = "_EmpLayout";
}
<link rel="stylesheet" href="~/css/AddingMov.css" asp-append-version="true" />
<form asp-action="AddingMovie" method="post" enctype="multipart/form-data">
	<body>
		<div>
			<button type="submit" class="delete">Очистить</button>
			<div class="image">
				<img id="uploadingMovieImage" style="width: 220px; height: 300px;" />
			</div>

			<input required type="file" class="chooseImage d-inline" id="photo-uploader" accept=".png, .jpg, .jpeg" name="movieimg" />
			<p class="category">Название</p>
			<input required type="text" name="moviename" class="inputCategory">
			<p class="category">Ссылка на фильм </p>
			<input required type="text" name="moviepath" class="inputCategory">
			<button type="submit" class="save" asp-action="AddMovie">Сохранить</button>
			<table>
				<tr><th>id</th><th>Название</th><th>Ссылка</th></tr>
				@using (LionCinemaContext db = new LionCinemaContext())
				{
					@foreach (var item in db.Movies)
					{
						<tr>
							<td>@item.MovieId</td>
							<td>@item.MovieName</td>
							<td>@item.MoviePath</td>
						</tr>
					}
				}
			</table>
		</div>
	</body>

</form>
<script src="~/js/MovieAdd.js" asp-append-version="true"></script>
