@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Информация</h1>

<p>Данный сайт разработан студентами группы 4333:</p>
<li>
    <a href="https://vk.com/stariyp">Старостин А.А.</a>
</li>
<li>
    <a href="https://vk.com/godjk">Ситдиков Р.Р.</a>
</li>
<li>
    <a href="https://vk.com/azatylla">Исламхузин А.Р.</a>
</li>